<!DOCTYPE html>
<html lang="en" ng-app="myApp">

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>USER MANAGEMENT</title>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link href="app/css/custom.css" rel="stylesheet">
    <link rel="stylesheet" href="bower_components/AngularJS-Toaster/toaster.css">
    <link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.min.css">


  </head>

  <body ng-cloak="" ng-controller="authCtrl">
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="row">
          <div class="navbar-header col-md-8">
            <button type="button" class="navbar-toggle" toggle="collapse" target=".navbar-ex1-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" rel="home" title="AngularJS Authentication App">USER MANAGEMENT</a>
          </div>
          <div id="navbar" ng-if="authenticated">
            <ul class="nav navbar-nav navbar-right">
              <li class="dropdown">
                <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-user" aria-hidden="true"></i>&nbsp;{{name}} <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="#"><i class="fa fa-address-book" aria-hidden="true"></i>&nbsp;Profile</a></li>
                  <li role="separator" class="divider"></li>
                  <li><a ng-click="logout()"><i class="fa fa-power-off" aria-hidden="true"></i>&nbsp;Logout</a></li>
                </ul>
              </li>
            </ul>
          </div><!--/.nav-collapse -->
          <!--<div class=" navbar-header col-md-2">-->
            <!--<a class="navbar-brand" ng-if="authenticated" >{{name}}</a>-->
          <!--</div>-->
          <!--<div class="navbar-header col-md-2">-->
            <!--<a class="navbar-brand" title="Logout" ng-if="authenticated" ng-click="logout()">Logout</a>-->
          <!--</div>-->
        </div>
      </div>
    </div>
    <div>
      <div class="container" style="margin-top:20px;">

        <div data-ng-view="" id="ng-view" class="slide-animation"></div>
      </div>
    </body>
  <toaster-container toaster-options="{'time-out': 3000}"></toaster-container>
  <!-- Libs -->

  <script src="bower_components/jquery/dist/jquery.min.js"></script>
  <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/angular-animate/angular-animate.js"></script>
  <script src="bower_components/angular-route/angular-route.min.js"></script>
  <script src="js/toaster.js"></script>
  <script src="app/app.js"></script>
  <script src="app/services/data.js"></script>
  <script src="app/config.js"></script>
  <script src="app/directives/focus.js"></script>
  <script src="app/controllers/authCtrl.js"></script>
</html>

