<div class="breadcrumbs" id="breadcrumbs">
    <ul class="breadcrumb">
        <li>
            <i class="ace-icon fa fa-home home-icon"></i>
            <a href="#">Home</a>
        </li>
        <li class="active">Login</li>
    </ul>
</div>
<div class="page-content">

    <div class="row">
        <div class="space-6"></div>
        <div class="col-md-6 col-md-offset-3">
            <div id="login-box" class="login-box visible widget-box no-border">
                <div class="widget-body">
                    <div class="widget-main">
                        <br>
                        <div class="space-16"></div>

                        <div class="panel panel-info">
                            <div class="panel-heading">
                                <b>Login</b>
                            </div>
                            <div class="panel-body">
                                <form name="loginForm" class="form-horizontal" role="form">
                                    <div class="form-group">
                                        <label class="col-md-3 control-label no-padding-right" for="email"><i class="ace-icon fa fa-user"></i> Email </label>
                                        <div class="col-md-7">
                                    <span class="block input-icon input-icon-right">
                                        <input type="text" class="form-control" placeholder="Email" name="email" ng-model="login.email" required focus/>
                                    </span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-3 control-label no-padding-right" for="password"><i class="ace-icon fa fa-lock"></i> Password </label>
                                        <div class="col-md-7">
                                    <span class="block input-icon input-icon-right">
                                        <input type="password" class="form-control" placeholder="Password" ng-model="login.password" required/>
                                    </span>
                                        </div>
                                    </div>
                                    <div class="space"></div>
                                    <div class="clearfix">
                                        <div class="row">
                                            <label class="col-md-3 control-label no-padding-right"> </label>
                                            <div class="col-md-7">
                                                <button type="submit" class="width-35 pull-right btn btn-sm btn-primary" ng-click="doLogin(login)" data-ng-disabled="loginForm.$invalid">
                                                    <i class="ace-icon fa fa-key"></i>
                                                    Login
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="space-4"></div>
                                    <span class="lbl col-md-3"> </span><div class="col-md-7">Don't have an account? <a href="#/signup">Signup</a></div>
                                </form>
                            </div>
                        </div>

                    </div><!-- /widget-main -->
                </div><!-- /widget-body -->
            </div><!-- /login-box -->
        </div><!-- /position-relative -->
    </div>
</div><!-- /.page-content -->