<div class="breadcrumbs" id="breadcrumbs">
    <ul class="breadcrumb">
        <li>
            <a href="#">Home</a>
        </li>
        <li class="active">SignUp</li>
    </ul>
</div>
<div class="page-content">
    <div class="row">
        <div class="space-6"></div>
        <div class="col-md-6 col-md-offset-3">
            <div id="login-box" class="login-box visible widget-box no-border">
                <div class="widget-body">
                    <div class="widget-main">
                        <br/>
                        <div class="panel panel-success">
                            <div class="panel-heading">
                                <b>Register new account</b>
                            </div>
                            <div class="panel-body">
                                <form name="signupForm" class="form-horizontal" role="form">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label no-padding-right" for="name">Name</label>
                                        <div class="col-md-8">
                                            <span class="block input-icon input-icon-right">
                                                <input type="text" class="form-control" placeholder="Name" ng-model="signup.name" focus/>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-4 control-label no-padding-right" for="email">Email</label>
                                        <div class="col-md-8">
                                            <span class="block input-icon input-icon-right">
                                                <input type="text" class="form-control" placeholder="Email" name="email" ng-model="signup.email"/>
                                                <span ng-show="signupForm.email.$error.email" class="help-inline">Email is not valid</span>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-4 control-label no-padding-right" for="password">Password</label>
                                        <div class="col-md-8">
                                            <span class="block input-icon input-icon-right">
                                                <input type="password" class="form-control" name = "password" placeholder="Password" ng-model="signup.password" required/>
                                                <small class="errorMessage" data-ng-show="signupForm.password.$dirty && signupForm.password.$invalid"> Enter Password.</small>
                                            </span>
                                        </div>
                                    </div>
                                        <div class="form-group">
                                            <label class="col-md-4 control-label no-padding-right" for="password2">Confirm Password</label>
                                            <div class="col-md-8">
                                                <span class="block input-icon input-icon-right">
                                                    <input type="password" class="form-control" name="password2" placeholder="Password Again" ng-model="signup.password2" password-match="signup.password" required/>
                                                    <small class="errorMessage" data-ng-show="signupForm.password2.$dirty && signupForm.password2.$error.required"> Enter password again.</small>
                                                    <small class="errorMessage" data-ng-show="signupForm.password2.$dirty && signupForm.password2.$error.passwordNoMatch && !signupForm.password2.$error.required"> Password do not match.</small>
                                                </span>
                                            </div>
                                        </div>
                                    <div class="form-group">
                                        <span class="lbl col-md-4"> </span>
                                        <div class="col-md-8">
                                            <button type="submit" class="width-35 pull-right btn btn-sm btn-success" ng-click="signUp(signup)" data-ng-disabled="signupForm.$invalid">
                                                Sign Up
                                            </button>
                                        </div>
                                    </div>
                                    <span class="lbl col-md-4"> </span>
                                    <div class="col-md-8">Already have an account? <a href="#/login">SignIn</a></div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<!-- /.page-content -->